* {
    box-sizing: border-box;

    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    color:white;
}

body, html {
    height: 100%;
}
body{
    margin: 0;
    background-color: #000;
}

h1{
    font-size: 3em;
}
h1, a{
    color:white;
    text-decoration: none;
}

button{
    border-radius: 3em;
    border: none;
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.5));
    color: white;
    background-color: rgb(205, 64, 240);
    font-size: 2em;
    padding: 12px 32px;
    margin:auto;

    transition-timing-function: ease-out;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(210, 104, 236);
}

.logo a, h1 {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.logo{
    color: white;
    margin: auto 0 3px 24px;
    font-size: revert;
}

.header{
    background-color: rgba(8, 8, 8, 0.85);
    backdrop-filter: blur(20px);
    backdrop-filter: saturate(80%);
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
}

.nav{
    list-style-type: none;
    display: flex;
    margin: 0 12px 0 auto;
    padding: 0;
}
.nav li{
    padding: 12px 0;
}
.nav li a{
    padding: 12px 16px;

    transition-timing-function: ease-out;
    transition: 0.3s;
}
.nav li a:hover{
    background-color: rgba(64, 64, 64, 0.85);
}
.banner{
    background-image: linear-gradient(
        to bottom, 
        rgba(255,255,255,0) 20%,
        rgba(0,0,0,1)), 
        url('./tulips.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100% - 16px); /*44 is height of header*/

    justify-content: center;
    flex-direction: column;
}
.banner-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 64px;
    gap: 2em;
}
.banner-container span{
    font-size: clamp(2.5em, 8vw, 4.5em);

    color:white;
    text-align: center;
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.5));
    
}
.content{
    width: 70%;
    max-width: 1280px;
    margin: auto;
    margin-top: -80px;
    padding: 20px;
    font-size: larger;
}
.content h1{
    margin-bottom: 0;
    margin-left: -60px;
}
.content img{
    margin: 20px;
    margin-left: -10px;
    margin-bottom: 0;
    width: 100%;
    max-height: fit-content;
    border-radius: 5px;
}

.row{
    display: flex;
}

@media (width <= 768px){
    .row{
        flex-direction: column;
    }

    .content{
        width: 100%;
    }
    .content h1, .content img{
        margin-left: 0;
    }
    .content p{
        margin-left: 20px;
    }
    /*make hamburger*/
}