* {
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-optical-sizing: auto;
}

body, html {
    height: 100%;
}
body{
    margin: 0;
    background-color: #000;
}

h1, a{
    color:white;
    text-decoration: none;
}

button{
    border-radius: 22px;
    border: none;
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.5));
    color: white;
    background-color: rgb(205, 64, 240);
    font-size: 2.5em;
    padding: 10px 24px;
    margin:auto;

    transition-timing-function: ease-out;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(210, 104, 236);
}

.logo a {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.logo{
    color: white;
    margin: auto 0 auto 24px;
}

.header{
    background-color: rgba(8, 8, 8, 0.9);
    backdrop-filter: blur(3px);
    backdrop-filter: saturate(80%);
}

.nav{
    list-style-type: none;
    display: flex;
    margin: 0 12px 0 auto;
    padding: 0;
}
.nav li{
    padding: 12px 0;
}
.nav li a{
    padding: 12px 16px;

    transition-timing-function: ease-out;
    transition: 0.3s;
}
.nav li a:hover{
    background-color: rgba(64, 64, 64, 0.9);
}
.banner{
    background-image: linear-gradient(
        to bottom, 
        rgba(255,255,255,0) 20%,
        rgba(0,0,0,1)), 
        url('./tulips.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100% - 44px); /*44 is height of header*/

    justify-content: center;
    flex-direction: column;
}
.banner-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 64px;
}
.banner-container span{
    font-size: clamp(2em, 8vw, 4.5em);

    color:white;
    text-align: center;
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.5));
    
}

.row{
    display: flex;
}

@media (width <= 768){

}